<body>
  <nav>
      <img src="../../../assets/images/logo.png" class="imgBannerini" alt="logo de la empresa">
      <ul>

          <li>
              <a  href="index.html">INICIO</a>
              <a [routerLink]="['/login']">ACCESO</a>
              <a href="paginas/registro.html">REGISTRATE</a>
          </li>
      </ul>
  </nav>
 <section class="banner">
  <div class="containerB">
      <div class="boxB col1">
          <video class="videoBanner" src="../../../assets/videos/introduction.mp4" width="640" height="480" controls muted loop></video>

      </div>

      <div class="boxB col2">
          <h1>ECONOMIZA</h1>
          <p id="txtbanner">
              Economiza busca conseguir una solución personalizada para
              que nuestro público objetivo pueda administrar mejor su dinero,
              mostrando la situación económica del usuario, alertas de
              déficit o excedente para que de esta forma pueda tomar acciones
              sobre su economía.
          </p>

          <!-- <div>
              <a href="#">VER SERVICIOS</a>
          </div> -->

      </div>

  </div>

 </section>
</body>
