.container {
    margin: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .card-item {
    width: 50%;
  }
  
  .example-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  h1 {
    
    font-size: 30px;
    margin-top: 20px;
  }
  
  .actions-right {
    display: flex;
    justify-content: flex-end;
  }































.mat-mdc-button.mat-warn{
    background-color: #f32d2def !important;
    color: #ffffff;
    border: 1px solid #ddd;
  }
  
  .mat-mdc-button.mat-warn:hover{
    background-color: #d31313dd !important;
    color: #ffffff;
  }
  
  .mat-mdc-button.mat-primary{
    background-color: #2925F3 !important;
    color: #ffffff;
    border: 1px solid #ddd;
  }
  
  .mat-mdc-button.mat-primary:hover{
    background-color: #4643f5 !important;
    color: #ffffff;
  }
  
  .mat-mdc-button.mat-accent{
    background-color: #dbdbdd !important;
    color: #242424;
    border: 1px solid #ddd;
  }
  
  .mat-mdc-button.mat-accent:hover{
    background-color: #b5b5b5 !important;
    color: #242424;
  }