<div class="container" style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">
    <div class="title-container">
      <h1 class="title" style="text-align: center;">  Listar metas de ahorro</h1>
    </div>

    <table mat-table [dataSource]="datasource" class="mat-elevation-z8">

      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.metadeahorro}}</td>
      </ng-container>

      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef>Título</th>
        <td mat-cell *matCellDef="let element">{{element.titulo_meta }}</td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element">{{element. descripcion }}</td>
      </ng-container>

      <ng-container matColumnDef="montoobjetivo">
        <th mat-header-cell *matHeaderCellDef>Monto Objetivo</th>
        <td mat-cell *matCellDef="let element">{{element.monto_objetivo }}</td>
      </ng-container>

      <ng-container matColumnDef="fechalimite">
        <th mat-header-cell *matHeaderCellDef>Fecha Limite</th>
        <td mat-cell *matCellDef="let element">{{element.fecha_limite }}</td>
      </ng-container>

      <ng-container matColumnDef="tipometanombre">
        <th mat-header-cell *matHeaderCellDef>Tipo de Meta</th>
        <td mat-cell *matCellDef="let element">{{element.tipo_meta_id.nombre}}</td>
      </ng-container>

      <ng-container matColumnDef="usuarionombre">
        <th mat-header-cell *matHeaderCellDef>Nombre del usuario</th>
        <td mat-cell *matCellDef="let element">{{element.usuario_id.nombre}}</td>
      </ng-container>

      <ng-container matColumnDef="metacumplida">
        <th mat-header-cell *matHeaderCellDef>Meta Cumplida</th>
        <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.meta_cumplida">Si</ng-container>
        <ng-container *ngIf="!element.meta_cumplida">No</ng-container>
      </ng-container>

      <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" [routerLink]="['ediciones', element.metadeahorro]">
            <mat-icon>edit</mat-icon>
        </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="accion02">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
      <button mat-button color="accent" (click)="openDialog(element.metadeahorro)">
          <mat-icon>delete</mat-icon>
      </button>
      </td>
  </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 7, 10]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    ></mat-paginator>
  </div>

