<div class="container">
  <div class="title">Mis Metas de ahorro</div>

  <div class="card-container">
    <div *ngFor="let element of datasource.data" class="card-item">
      <mat-card class="example-card">
        <mat-card-header>
          <div class="header-content">
            <div>
              <mat-card-title>{{ element.titulo_meta }}</mat-card-title>
              <mat-card-subtitle>{{ element.fecha_limite| date }}</mat-card-subtitle>
            </div>
            <div class="amount">
              <h1> S/{{ element.monto_objetivo }}</h1>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <mat-chip class="tipometa" title="Tipo Meta">{{ element.tipo_meta_id.nombre }}</mat-chip>
        </mat-card-content>
        <mat-card-actions class="actions-right">
          <button mat-button color="primary" [routerLink]="['ediciones', element.metadeahorro]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button color="warn" (click)="openDialog(element.metadeahorro)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-button color="accent" (click)="openDetailDialog(element)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-button color="primary" (click)="marcarComoCumplida(element)">
            <mat-icon>{{ element.meta_cumplida ? 'check_circle' : 'radio_button_unchecked' }}</mat-icon>
            {{ element.meta_cumplida ? 'Cumplida' : 'No Cumplida' }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page of periodic elements"
    ></mat-paginator>
  </div>

