Back End/TrabajoBackEnd/target/classes/pe/edu/upc/TrabajoBackEnd/controllers/TransaccionController.class
Back End/TrabajoBackEnd/target/classes/pe/edu/upc/TrabajoBackEnd/entities/Transaccion.class
Back End/TrabajoBackEnd/target/classes/pe/edu/upc/TrabajoBackEnd/repositories/IConsejoRepository.class
Back End/TrabajoBackEnd/target/classes/pe/edu/upc/TrabajoBackEnd/servicesimplements/ConsejoServiceImplement.class
