<div class="title-container">
    <h1 class="title">Registro de Cuenta Bancaria</h1>
  </div>
  
  <div class="container" style="text-align: center">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
      <mat-form-field *ngIf="edicion">
        <mat-label class="example-full-width">Codigo</mat-label>
        <input matInput formControlName="idmetadeahorro" readonly />
      </mat-form-field>
      <br />
  
      <mat-form-field>
        <mat-label>Nombre del banco</mat-label>
        <mat-select formControlName="nombre">
          <mat-option *ngFor="let b of bancos" [value]="b.value">
            {{ b.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('nombre')?.hasError('required')"
          >El nombre es obligatorio.</mat-error
        >
      </mat-form-field>
      <br />
  
      <mat-form-field>
        <mat-label class="example-full-width">Numero de Cuenta</mat-label>
        <input matInput formControlName="numerocuenta" />
        <mat-error *ngIf="form.get('numerocuenta')?.hasError('required')"
          >El numero es obligatorio.</mat-error
        >
        <mat-error *ngIf="form.get('numerocuenta')?.hasError('pattern')"
          >Ingrese un numero de cuenta válido.</mat-error
        >
        <mat-error *ngIf="form.get('numerocuenta')?.hasError('min')"
          >El valor mínimo es 1.</mat-error
        >
      </mat-form-field>
      <br />
  
      <mat-label>Tipo de Cuenta:</mat-label>
      <mat-radio-group formControlName="tipo">
        <mat-radio-button value="true">Cuenta Corriente</mat-radio-button>
        <mat-radio-button value="false">Cuenta de Ahorros</mat-radio-button>
      </mat-radio-group>
  
      <mat-form-field>
        <mat-label>Usuario:</mat-label>
        <mat-select formControlName="usuarioid">
          <mat-option *ngFor="let u of listaUsuario" [value]="u.usuario_id">
            {{ u.nombre }} {{ u.apellido }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('usuarioid')?.hasError('required')">
          El usuario es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
  
      <button mat-raised-button color="warn" *ngIf="edicion">Modificar</button>
      <button mat-raised-button color="warn" *ngIf="!edicion">Registrar</button>
      <button mat-raised-button color="primary" routerLink="/cuentabancaria">
        Cancelar
      </button>
    </form>
  </div>
  
