<div class="title-container" style="text-align: center">
    <h1 class="title">Registro de Meta de Ahorro</h1>
  </div>
  
  <div class="container" style="text-align: center">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
      <mat-form-field *ngIf="edicion">
        <mat-label class="example-full-width">Codigo</mat-label>
        <input matInput formControlName="idmetadeahorro" readonly />
      </mat-form-field>
      <br />

      <mat-form-field class="titulo" >
        <mat-label >Titulo</mat-label>
        <input matInput formControlName="tiutlometa" />
        <mat-error *ngIf="form.get('tiutlometa')?.hasError('required')"
          >El titulo de la meta es obligatorio.</mat-error
        >
      </mat-form-field>
      <mat-form-field class="descripcion">
        <mat-label>Descripcion</mat-label>
        <input matInput  formControlName="descripcion" />
        <mat-error *ngIf="form.get('descripcion')?.hasError('required')"
          >La decripcion es obligatoria.</mat-error
        >
      </mat-form-field>
      <br />
      <br />
      <br />
      <br />
      <br />
      <mat-form-field class="montoobjetivo">
        <mat-label >Monto Objetivo</mat-label>
        <input matInput formControlName="montoobjetivo" />
        <mat-error *ngIf="form.get('montoobjetivo')?.hasError('required')"
          >El monto objetivo es obligatorio.</mat-error
        >
        <mat-error *ngIf="form.get('montoobjetivo')?.hasError('min')"
          >El monto objetivo minimo es 1.</mat-error
        >
        <mat-error *ngIf="form.get('montoobjetivo')?.hasError('pattern')"
        >El monto objetivo debe ser un número válido.</mat-error
      >
      </mat-form-field>
      
        <mat-form-field class="tipometa">
          <mat-label>Tipo de Meta:</mat-label>
          <mat-select formControlName="tipometaid">
            <mat-option *ngFor="let c of listatipoMeta" [value]="c.idTipoMeta">
              {{c.nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('tipometaid')?.hasError('required')">
            El tipo de meta es obligatoria.
          </mat-error>
        </mat-form-field>
        <br />
      <br />
      <br />
      <br />
      <br />
        <mat-form-field appearance="fill" class="fechalimite">
            <input
              matInput
              placeholder="Ingrese fecha"
              [matDatepicker]="picker"
              formControlName="fechalimite"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('fechalimite')?.hasError('required')">
              La fecha es obligatoria.
            </mat-error>
          </mat-form-field>

      <mat-form-field class="usuario">
        <mat-label>Usuario:</mat-label>
        <mat-select formControlName="usuarioid">
          <mat-option *ngFor="let u of listaUsuarios" [value]="u.usuario_id">
            {{ u.nombre }} {{ u.apellido }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('usuarioid')?.hasError('required')">
          El usuario es obligatorio.
        </mat-error>
      </mat-form-field>

      <br />
      <br />
      <br />
      <br />
      <br />
      <h3> Se cumple meta:</h3>
      <mat-radio-group formControlName="metacumplida" class="metacumplida">
        <mat-radio-button value="true">Si</mat-radio-button>
        <mat-radio-button value="false">No</mat-radio-button>
        <mat-error *ngIf="form.get('metacumplida')?.hasError('metacumplida')">
            Este campo es obligatorio.
          </mat-error>
      </mat-radio-group>
      <br />
      
      <br />
      
      <br />
  
      <button mat-raised-button color="warn" *ngIf="edicion">Editar</button>
      <button mat-raised-button color="warn" *ngIf="!edicion">Registrar</button>
      <button mat-raised-button color="primary" routerLink="/metadeahorro">
        Cancelar
      </button>
    </form>
  </div>
  
