mat-form-field {
  
    width: 50%;
  
   }
  
   button {
    width: 20%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
  }
  
   .primaryButton{
  
    background-color: #2925F3;
    color: #ffffff;
    border: none;
    cursor: pointer;
  
   }
  
   .primaryButton:hover{
  
    background-color: #4643f5;
  
   }
  
  
   .secondaryButton{
  
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ddd;
    cursor: pointer;
  
   }
  
   .secondaryButton:hover {
    background-color: #e0e0e0;
  }