.title-container {
    text-align: center;
    margin-bottom: 40px; /* Increase the margin-bottom to move the title lower */
    margin-top: 60px; /* Add a margin-top to further position it down the page */
  }
  
  .title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: #333;
  }

  .container{

    width: 920px;
    height: 800 ;


    margin: 0 auto;
  }


 button {
  width: 30%;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
}

 .primaryButton{

  background-color: #2925F3;
  color: #ffffff;
  border: none;
  cursor: pointer;

 }

 .primaryButton:hover{

  background-color: #4643f5;

 }


 .secondaryButton{

  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #ddd;
  cursor: pointer;

 }

 .secondaryButton:hover {
  background-color: #e0e0e0;
}