
.title-container {
  text-align: center;
  margin-bottom: 40px; /* Increase the margin-bottom to move the title lower */
  margin-top: 60px; /* Add a margin-top to further position it down the page */
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: #333;
}

mat-form-field {
  width: 70%;
}

.mat-mdc-button.mat-warn{
  background-color: #f32d2def !important;
  color: #ffffff;
  border: 1px solid #ddd;
}

.mat-mdc-button.mat-warn:hover{
  background-color: #d31313dd !important;
  color: #ffffff;
}

.mat-mdc-button.mat-primary{
  background-color: #2925F3 !important;
  color: #ffffff;
  border: 1px solid #ddd;
}

.mat-mdc-button.mat-primary:hover{
  background-color: #4643f5 !important;
  color: #ffffff;
}

