<div class="title-container">
  <h1 class="title">Registro de Preguntas Frecuentes</h1>
</div>

<div class="container" style="text-align: center">
  <form [formGroup]="form" (submit)="aceptar()" class="example-form">
    
    <mat-form-field *ngIf="edicion">
      <mat-label class="example-full-width">Codigo</mat-label>
      <input matInput formControlName="codigo" readonly />
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label class="example-full-width">Pregunta</mat-label>
      <input matInput formControlName="pregunta" />
      <mat-error *ngIf="form.get('pregunta')?.hasError('required')"
        >La pregunta es obligatorio.</mat-error
      >
    </mat-form-field>
    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Escribe una Respuesta</mat-label>
      <textarea matInput formControlName="respuesta"></textarea>
      <mat-error *ngIf="form.get('respuesta')?.hasError('required')"
        >La respuesta es obligatorio.</mat-error
      >
    </mat-form-field>
    <br />

    <button mat-button color="primary" *ngIf="edicion">Modificar</button>
    <button mat-button color="primary" *ngIf="!edicion">Registrar</button>
    <button mat-button color="warn" routerLink="/preguntafrecuente">
      Cancelar
    </button>
  </form>
</div>
