<mat-card class="detail-card">
    <mat-card-header>
      <mat-card-title>Detalles de Meta de Ahorro</mat-card-title>
    </mat-card-header>
    <mat-card-content class="detail-container">
      <div class="detail-item">
        <div class="detail-label">Titulo de la meta:</div>
        <div class="detail-value">{{ data.titulo_meta }}</div>
      </div>
      <div class="detail-item">
        <div class="detail-label">Descripción:</div>
        <div class="detail-value">{{ data.descripcion}}</div>
      </div>

      <div class="detail-item">
        <div class="detail-label">Fecha límite:</div>
        <div class="detail-value">{{ data.fecha_limite | date }}</div>
      </div>
      <div class="detail-item">
        <div class="detail-label">Monto Objetivo:</div>
        <div class="detail-value">S/ {{ data.monto_objetivo }}</div>
      </div>
      <div class="detail-item">
        <div class="detail-label">Tipo de meta:</div>
        <div class="detail-value">{{ data.tipo_meta_id.nombre}}</div>
      </div>
      <div class="detail-item">
        <div class="detail-label"> Meta Cumplida:</div>
        <div class="detail-value">{{ data.meta_cumplida ?'Si':'No' }}</div>
      </div>
    </mat-card-content>
    <mat-card-actions class="dialog-actions">
      <button mat-button (click)="onNoClick()">Cerrar</button>
    </mat-card-actions>
  </mat-card>
