<body>
    <div class="container" style="text-align: center">
      <div>
        <img
          src="../../../assets/logo.png"
          alt="Logo de la empresa"
          height="170px"
        />
      </div>
  
      <h2>Registrate</h2>
      <form [formGroup]="form" (submit)="registrarse()">
        <!-- Campo de Nombre -->
        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="nombre" />
            <mat-error *ngIf="form.get('nombre')?.hasError('required')">
              Ingrese un nombre.
            </mat-error>
        </mat-form-field>
        <br />
        <!-- Campo de Apellido -->
        <mat-form-field class="example-full-width">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Apellido" formControlName="apellido" />
              <mat-error *ngIf="form.get('apellido')?.hasError('required')">
                Ingrese un apellido.
              </mat-error>
          </mat-form-field>
        <br />
        <!-- Campo de Edad -->
        <mat-form-field class="example-full-width">
            <mat-label>Edad</mat-label>
            <input matInput type="number" placeholder="Edad" formControlName="edad" />
            <mat-error *ngIf="form.get('edad')?.hasError('required')">
                Ingrese su edad.
            </mat-error>
            <mat-error *ngIf="form.get('edad')?.hasError('min')">
                Ingrese una edad válida.
            </mat-error>
            <mat-error *ngIf="form.get('edad')?.hasError('max')">
                Ingrese una edad válida.
            </mat-error>
            <mat-error *ngIf="form.get('edad')?.hasError('pattern')">
                Ingrese una edad válida.
            </mat-error>
        </mat-form-field>
        <br />
  
        <!-- Campo de Correo -->
        <mat-form-field class="example-full-width">
          <mat-label>Correo</mat-label>
          <input matInput placeholder="Correo Electrónico" formControlName="correo" />
          <mat-error *ngIf="form.get('correo')?.hasError('required')">
            Ingrese un correo electrónico
          </mat-error>
          <mat-error *ngIf="form.get('correo')?.hasError('email')">
            Ingrese un correo electrónico válido
          </mat-error>
        </mat-form-field>
        <br />
  
        <!-- Campo de Contraseña -->
        <mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Contraseña"
            formControlName="password"
            />
            <mat-error *ngIf="form.get('edad')?.hasError('required')">
                Ingrese una contraseña válida
              </mat-error>
          <button mat-icon-button type="button" matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br />
  
        <!-- Botón para enviar el formulario -->
        <button mat-button type="submit" class="register">Registrar</button>
      </form>
      <br>
      ¿Ya tienes una cuenta?
      <button mat-raised-button style="background-color: #ffffff; color: black;" (click)="toLogin()">Iniciar Sesión</button>
    </div>
  </body>
  