<div class="title-container">

    <div style="text-align: center" class="title">
  
     <h1 >Hola</h1>
  
    </div>
  
    <div style="text-align: center" class="chart-container">
  
     <!-- Gráfico de barras -->
  
     <canvas
  
      baseChart
  
      [datasets]="barChartData"
  
      [labels]="barChartLabels"
  
      [options]="barChartOptions"
  
      [legend]="barChartLegend"
  
      [type]="barChartType"
  
     >
  
      <!-- Cambiado de 'chartType' a 'type' -->
  
     </canvas>
  
    </div>
  
   </div>
