<div class="title-container"><h1 class="title">Registro de Categoria Transaccion</h1></div>
<div class="container" style="text-align: center">

  
  <form [formGroup]="form" (submit)="aceptar()" class="example-form">

    <mat-form-field *ngIf="edicion">
      <mat-label>idCategoriatranx:</mat-label>
      <input matInput formControlName="idCategoriatranx" readonly/>
    </mat-form-field>
    <br />



    <mat-form-field>
      <mat-label>nombre</mat-label>
      <input matInput formControlName="nombre" />
      <mat-error *ngIf="form.get('nombre')?.hasError('required')"
        >EL nombre es obligatorio.</mat-error
      >
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <textarea matInput #descripcion maxlength="250" formControlName="descripcion" placeholder="Ej. Esta categoria abarca..."></textarea>
      <mat-hint align="end"> {{descripcion.value.length}} / 250</mat-hint>
      <mat-error *ngIf="form.get('descripcion')?.hasError('required')"
        >La descripcion es obligatoria.</mat-error
      >
    </mat-form-field>

    <br />
    
    <br />
    <button class = "Registrar" *ngIf="!edicion">Registrar</button>
    <button class="Editar" *ngIf="edicion">Editar</button>
    <button class="Cancelar" routerLink="/categoriatranx"> Cancelar </button>
  </form>
</div>