.title-container {

    text-align: center;
  
    margin-bottom: 40px; /* Increase the margin-bottom to move the title lower */
  
    margin-top: 60px;  /* Add a margin-top to further position it down the page */
  
   }
  
   
  
   .title {
  
    font-family: 'Poppins', sans-serif;
  
    font-weight: 600;
  
    font-size: 2em;
  
    color: #333;
  
   }
  
   mat-form-field {
  
    width: 70%;
  
   }