/* Estilo para el título del cuadro de diálogo */
mat-dialog-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilo para el contenido del cuadro de diálogo */
mat-dialog-content {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo para las acciones del cuadro de diálogo */
mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  padding: 0 24px 24px 24px;
}

/* Estilo para los botones del cuadro de diálogo */
button {
  width: 45%;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
}

.cancel {
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #ddd;
  cursor: pointer;
}

.cancel:hover {
  background-color: #e0e0e0;
}

.delete {
  background-color: #2925F3;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.delete:hover {
  background-color: #4643f5;
}
