*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


  }

  :root{
    --width: 300px;
    --padding: 10px;
    --bgcolor: rgb(52,52,52);
    --hovercolor: rgb(100, 1, 1);
    --width-collapsed: 50px;
  }

  body{
    background-color: white;
    font-family: 'ABeeZee', sans-serif;
    font-size: 15px;
    margin-left: var(--width-collapsed);
  }
  .body-expanded{
    margin-left: 8%;
  }
  
  #main-container{
    color: white;
  }
  
  #sidemenu{
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
  }
  
  .menu {
      background-color: white;
      height: 100px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
    }
   
    #logo{
      float:left;
      width: 100px;
      height: 100%;
      display: block;
      margin-left: 46%;
    }
  
    .info{
      padding-top: 0.6%;
      margin-left: 80%;
      width: 20%;
      height: 100px;
    }
  
    .info #title-Info{
      float: left;
      margin-left: 10%;
      margin-right: 10%;
    }
  
    .info img{
      width: 4.5%;
      height: 8%;
      margin-left: 0.7%;
      position: absolute;
      top: 1%;
      left: 94%;
    }
  
    #cerrar-sesion{
      display: inline-block;
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      text-decoration: none;
      border-radius: 10px;
      border: 2px solid #000;
      color: black;
      transition: background-color 0.3s;
  
      position: absolute;
      top: 5.5%;
      left: 83.8%;
    }
  
    #cerrar-sesion:hover {
      background-color: rgba(223, 223, 223, 0.801);
    }
  
    #sidemenu {
      background-color: black;
    }
  
    #sidemenu a{
      color: white;
      text-decoration: none;
    }
  
  
  /*Header*/
  
    #sidemenu #header{
      box-sizing: border-box;
      border-bottom: solid 1px var(--hovercolor);
    }
  
    #sidemenu #header #title{
      box-sizing: border-box;
      overflow: hidden;
    }
  
    #sidemenu #header #title, #sidemenu #header #menu-btn{
      vertical-align: middle;
    }
  
    #sidemenu #header #menu-btn{
      display: inline-block;
    }
  
    #sidemenu #header #menu-btn{
      cursor: pointer;
      padding: 10px;
      width: var(--width-collapsed);
      box-sizing: border-box;
    }
  
    #sidemenu #header #menu-btn:hover{
      background-color: var(--hovercolor);
    }
  
    #sidemenu #header #menu-btn .btn-hamburger{
      background-color: #fff;
      width: 100%;
      height: 2px;
      margin: 5px 0;
    }
  
    /*Items*/
  
    #sidemenu #menu-items{
      overflow: hidden;
    }
  
    #sidemenu #menu-items .item{
      width: var(--width);
    }
  
    #sidemenu #menu-items .item .icon{
      display: inline-block;
    }
  
    #sidemenu #menu-items .item .icon,
    #sidemenu #menu-items .item .title{
      font-size: 17px;
      vertical-align: middle;
      overflow: hidden;
      /*padding: 5px;
      margin: 5px;*/
    }
  
    #sidemenu #menu-items .item a{
      display: block;
      transition: background-color 0.3s;
    }
  
    #sidemenu #menu-items .item a:hover{
      background-color: var(--hovercolor);
    }
  
    
    .menu-expanded #menu-items .item .icon{
      box-sizing: border-box;
      padding: 2% 0%;
      padding-left: 15.5%;
      width: 100%;
    }
    
    .menu-collapsed #menu-items .item .icon{
      box-sizing: border-box;
      padding: 2% 0%;
      padding-left: 2.5%;
      width: 60%;
    }
  
  
    #sidemenu #menu-items .item .icon img{
      width: 20%;
    }
    
    /**/
    #sidemenu #menu-items .item .title{
      padding: var(--padding) 0;
      font-size: 13px;
      
    }
  
    #sidemenu #menu-items .item #icon-1{
      padding-left: 6%;
    }
    #sidemenu #menu-items .item #icon-2{
      padding-left: 12%;
    }
    #sidemenu #menu-items .item #icon-3{
      padding-left: 1.3%;
    }
    #sidemenu #menu-items .item #icon-4{
      padding-left: 10%;
    }
    #sidemenu #menu-items .item #icon-5{
      padding-left: 14.5%;
    }
    #sidemenu #menu-items .item #icon-6{
      padding-left: 19.3%;
    }
    #sidemenu #menu-items .item #icon-7{
      padding-left: 7.4%;
    }
  
    #sidemenu #menu-items .item.separator{
      height: 1px;
      border-bottom: solid 1px var(--hovercolor);
      margin: 15px 0;
    }
  
    .menu-expanded{
      width: 8%;
      box-shadow: 0 0 10px rgba(0,0 green,0 blue,0.5 alpha);
    }
  
    .menu-expanded #header #title{
      display: inline-block;
      width: calc(100% - 50px);
      margin-right: -5px;
      padding: 15%;
    }
  
    .menu-expanded #header #title span{
      width: calc(var(--width) - var(--width-collapsed) - 5px);
      overflow: hidden;
      display: inline-block;
      margin-left: 40%;
      
    }
  
    .menu-collapsed{
      width: var(--width-collapsed);
    }
  
    .menu-collapsed #header #title{
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }
  
    .menu-collapsed #menu-items .title{
     display: none;
     
    }


  .container {
    margin-top: 40px;
    margin-left: 200px;


    justify-content: center;
    align-items: center;
  }

  .frame {
    margin-top: 10px;
    margin-left: 10px;
    width: 1000px;
    height: 800px;
    transform: translate(20%,0%);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
   
    border: 3px solid blue;
   
  }
h1{
  font-size: 20px;
}
h3{
  font-size: 25px;
}

.arriba1{
text-align: center;
  width: 600px;
  font-size: 20px;
  height: 50px;
position: absolute;
background-color: aqua;
/* border: 3px solid blue;  */
border-radius: 30px;
  padding: 10px;
  transform: translate(100%,-500%);


}
.arriba2{
    font-size: 15px;
  text-align: center;
    width: 600px;
    height: 50px;
  position: absolute;
  border: 3px solid transparent;
  border-radius: 30px;
    padding: 10px;
    transform: translate(100%,-380%);
  
  
  }
#img11{
position: absolute;

  width: 180px;
  height: 120px;      
  background-color: rgb(0, 171, 23);
  border-radius: 30px;
  transform: translate(350%,30%);
}

  .column {
    position: absolute;
    transform: translate(30%,50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    float: left;

  }
  .column1 {
    position: absolute;
    transform: translate(200%,50%);
    display: flex;
   
   
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    float: left;

  }

  .box {
    width: 300px;
    height: 80px;
    background-color: rgb(0, 171, 23);
    margin-bottom: 5px;
    padding: 17px;
    position: relative;
    text-align: center;
    float: left;
    
    border-radius: 30px;
  }

  .box1 {
    width: 300px;
    height: 80px;
    background-color:transparent;
    margin-bottom: 5px;
    padding: 15px;
    position: relative;
    text-align: center;
    float: left;
    
    border: 2px solid transparent;
    border-radius: 30px;
  }
  #imgfon{
    width: 40px;
    height: 40px;
    transform: translate(130%,-40%);
    position: absolute;
  }

  .text {
    font-weight: bold;
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
  }
  
  .text1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
  }


  .link:hover {
    text-decoration: underline;
  }

  .item #icon-pic7{
    filter: brightness(0.4) contrast(1.9);
  } 

  footer{
    margin-top: 12px;
    padding: 3px;
    text-align: center;
    color: black;
    transform: translate(-5%,0%);
    height: 30px; /* Establece la altura deseada para el footer */
  }

  .botones   {

    width: 0px; 
   }
   .nuevo1 button{
    width: 200px;
    height: 70px;
     background-color: blue;
     font-size: 20px;
     transform: translate(410%,-185%);
     padding: 10px 20px;
     align-content: center;
     border-radius: 10px;
    
     margin-left: 0px;
     color: white;
    
   
     font-family: 'ABeeZee', sans-serif;
     
   }

 /*Media Queries*/
  
 @media (max-width:900px) {
  /*Menu*/
  .menu-expanded  #header #menu-btn{
    margin-left: 31%;
    cursor: pointer;
    padding: 10px;
    width: 68%;
    box-sizing: border-box;
  }

  .body-expanded{
    margin-left: 18%;
  }
  
  .menu-expanded #menu-items .item .icon{
    padding: auto auto;
    padding-left: 15%;
    padding-bottom: 0%;
    width: 90%;
  }

  .menu-expanded{
    width: 18%;
  }

  .menu-expanded #header #title{
    width: 60%;
    margin-left: 18%;
    padding-bottom: 0%;
  }

  .menu-expanded #header #title span{   
    width: 400%;
    overflow: hidden;
    display: inline-block;
    margin-left: 0%; 
  }

  #sidemenu #menu-items .item.separator{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 10% 0;
  }

  #icon-pic1{
    margin-top: 2%;
  }

  #sidemenu #menu-items .item #icon-1{
    padding-left: 5%;
    width: 40%;
    text-align: center;
    font-size: 80%;

  }
  #sidemenu #menu-items .item #icon-2{
    padding-left: 4%;
    width: 40%;
    text-align: center;
    font-size: 80%;
  }
  #sidemenu #menu-items .item #icon-3{
    padding-left: 3%;
    width: 40%;
    text-align: center;
    font-size: 80%;
  }
  #sidemenu #menu-items .item #icon-4{
    padding-left: 4%;
    width: 40%;
    text-align: center;
    font-size: 80%;
  }
  #sidemenu #menu-items .item #icon-5{
    padding-left: 4%;
    width: 40%;
    text-align: center;
    font-size: 80%;
  }
  #sidemenu #menu-items .item #icon-6{
    padding-left: 4%;
    width: 40%;
    text-align: center;
    font-size: 80%;
  }
  #sidemenu #menu-items .item #icon-7{
    padding-left: 4%;
    width: 40%;
    text-align: center;
    font-size: 80%;
  }


  /*Info*/
  #logo{
    margin-left: 28.0%;
  }

  .info{
    padding-top: 0.6%;
    margin-left: 50%;
    width: 50%;
    height: 100px;
    
  }

  .info #title-Info{
    font-size: 10px;
    position: absolute;
    top: 1.4%;
    left: 53.4%;
  }

  .info img{
    width: 12%;
    height: 7%;
    margin-left: 0.0%;
    position: absolute;
    top: 1%;
    left: 84.7%;
  }

  #cerrar-sesion{
    display: inline-block;
    font-size: 50%;
    padding: 14px;
    padding-left: 5%;
    padding-right: 5%;
    color: black;

    position: absolute;
    top: 4%;
    left: 63.5%;
  }
    

  footer{
    margin-top: 0px;
    padding-top: 70%;
    text-align: center;
    height: 20px;
  }
}
/*display: flex; align-items: center; justify-content: center;*/












  @media  (max-width: 600px){

    .menu-expanded  #header #menu-btn{
    margin-left: 16%;
    cursor: pointer;
    padding: 10px;
    width: 58%;
    box-sizing: border-box;
  }

  .body-expanded{
    margin-left: 18%;
  }
  

  .menu-expanded #menu-items .item .icon{
    padding: auto auto;
    padding-left: 4.8%;
    padding-bottom: 0%;
    width: 75%;
  }

  .menu-expanded{
    width: 18%;
  }

  .menu-expanded #header #title{
    width: 100%;
    margin-left: 4.5%;
    padding-bottom: 0%;
  }

  .menu-expanded #header #title span{   
    width: 510%;
    overflow: hidden;
    display: inline-block;
    margin-left: 0%; 
  }

  #sidemenu #menu-items .item.separator{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 10% 0;
  }

  #icon-pic1{
    margin-top: 2%;
  }

  #sidemenu #menu-items .item #icon-1{
    padding-left: 0%;
    padding-right: 1.5%;
    width: 25%;
    text-align: center;
    font-size: 60%;
  }
  #sidemenu #menu-items .item #icon-2{
    width: 30%;
    font-size: 60%;
    padding-left: 0%;
    padding-right: 6.5%;
    text-align: center;
  }
  #sidemenu #menu-items .item #icon-3{
    padding-right: 5%;
    padding-left: 0%;
    width: 29%;
    text-align: center;
    font-size: 60%;
  }
  #sidemenu #menu-items .item #icon-4{
    padding-right: 5.5%;
    padding-left: 0%;
    width: 29%;
    text-align: center;
    font-size: 60%;
  }
  #sidemenu #menu-items .item #icon-5{
    padding-left: 1%;
    padding-right: 5%;
    width: 29%;
    text-align: center;
    font-size: 60%;
  }
  #sidemenu #menu-items .item #icon-6{
    padding-left: 0%;
    padding-right: 4.3%;
    width: 29%;
    text-align: center;
    font-size: 60%;
  }
  #sidemenu #menu-items .item #icon-7{
    padding-left: 0%;
    padding-right: 0%;
    width: 25%;
    text-align: center;
    font-size: 60%;
  }

  /*Logo y datos del usuario*/
  #logo{
    margin-left: 24.0%;
  }
  
  .info #title-Info{
    margin-top: 1%;
    font-size: 8px;
    left: 55%;
  }

  .info img{
    width: 11%;
    height: 5.5%;
    margin-left: 1.4%;
    position: absolute;
    top: 4.3%;
  }

  #cerrar-sesion{
    display: inline-block;
    font-size: 50%;
    margin-top: 1%;
    padding: 14px;
    padding-left: 4%;
    padding-right: 4%;
    color: black;
    position: absolute;
    top: 4.3%;
    left: 63.5%;
  }



  footer{
    margin-top: 0px;
    padding-top: 10%;
    text-align: center;
    height: 0px;
  }



  .container {
    margin-top: 40px;
    margin-left: 0px;


    
    align-items: center;
  }

  .frame {
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
    height: 700px;
    transform: translate(0%,0%);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
   
    border: 3px solid blue;
   
  }


  h1{
    font-size: 15px;
  }
  h3{
    font-size: 12px;
  }
  h2{
    font-size: 15px;
  }
  
  .arriba1{
  text-align: left;
    width: 250px;
    height: 120px;
    text-align: center;
  position: absolute;
  background-color: aqua;

  border-radius: 30px;
    padding: 10px;
    transform: translate(10%,-280%);
  
  
  }
  .arriba2{
    text-align: left;
      width: 250px;
    text-align: center;

      height: 90px;
    position: absolute;
   
    border-radius: 30px;
      padding: 10px;
      transform: translate(12%,-230%);
    
    
    }
  #img11{
  position: absolute;
  
    width: 120px;
    height: 60px;
    background-color: rgb(0, 171, 23);
    border-radius: 30px;
    transform: translate(80%,60%);
  }
  
  
  
  
    .column {
      position: absolute;
      transform: translate(0%,50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      float: left;
  
    }
    .column1 {
      position: absolute;
      transform: translate(150%,50%);
      display: flex;
     
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      float: left;
  
    }
  
    .box {
      width: 120px;
      height: 50px;
      background-color: rgb(0, 171, 23);
      margin-bottom: 5px;
      padding: 10px;
      padding-top: 6px;
      position: relative;
      text-align: center;
      float: left;
      
      border-radius: 30px;
    }
  
    .box1 {
      width: 100px;
      height: 50px;
      background-color:transparent;
      margin-bottom: 5px;
      padding: 10px;
      position: relative;
      text-align: center;
      float: left;
      border: 2px solid transparent;
      border-radius: 30px;
    }
    #imgfon{
      width: 40px;
      height: 40px;
      transform: translate(130%,-40%);
      position: absolute;
    }
  
    .text {
      font-weight: bold;
      text-align: center;
      font-family: 'ABeeZee', sans-serif;
    }
    
    .text1 {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      font-family: 'ABeeZee', sans-serif;
    }
  
  
  
    .link:hover {
      text-decoration: underline;
    }

    .botones   {

      width: 0px; 
     }
     .nuevo1 button{
      width: 200px;
      height: 70px;
       background-color: blue;
       font-size: 20px;
       transform: translate(26%,-185%);
       padding: 10px 20px;
       align-content: center;
       border-radius: 10px;
      
       margin-left: 0px;
       color: white;
      
    
       font-family: 'ABeeZee', sans-serif;
       
     }
  

  }


