<mat-toolbar color="primary">
    <mat-icon>menu</mat-icon>
    <button style="margin-left: 2px; margin-right: 2px;" mat-button [matMenuTriggerFor]="menuCat">Categorias</button>
    <button style="margin-left: 2px; margin-right: 2px;" mat-button [matMenuTriggerFor]="menuConsejo">Consejos</button>
    <button style="margin-left: 2px; margin-right: 2px;" mat-button [matMenuTriggerFor]="menuPF">Preguntas Frecuentes</button>
    <button style="margin-left: 2px; margin-right: 2px;" mat-button [matMenuTriggerFor]="menuTipoMeta">Tipo Meta</button>
    <button style="margin-left: 2px; margin-right: 2px;" mat-button [matMenuTriggerFor]="menuRol">Rol</button>
    <button style="margin-left: 2px; margin-right: 2px;" mat-button [matMenuTriggerFor]="menuUsuario">Usuarios</button>
    <button style="margin-left: 2px; margin-right: 2px;" mat-button [matMenuTriggerFor]="menuTransaccion">Transaccion</button>
  </mat-toolbar>

  <mat-menu #menuCat="matMenu">
    <button mat-menu-item routerLink="/categoriatranx">Listar</button>
    <button mat-menu-item routerLink="/categoriatranx/nuevo">Registrar</button>
  </mat-menu>
  <mat-menu #menuConsejo="matMenu">
    <button mat-menu-item routerLink="/consejos">Listar</button>
    <button mat-menu-item routerLink="/consejos/registro">Registrar</button>
   </mat-menu>
   <mat-menu #menuPF="matMenu">
    <button mat-menu-item routerLink="/preguntafrecuente">Listar</button>
    <button mat-menu-item routerLink="/preguntafrecuente/nuevo">Registrar</button>
   </mat-menu>
   <mat-menu #menuTipoMeta="matMenu">
    <button mat-menu-item routerLink="/tipometa">Listar</button>
    <button mat-menu-item routerLink="/tipometa/nuevo">Registrar</button>
   </mat-menu>
   <mat-menu #menuRol="matMenu">
    <button mat-menu-item routerLink="/rol">Listar</button>
  </mat-menu>
  <mat-menu #menuUsuario="matMenu">
    <button mat-menu-item routerLink="/usuarios">Listar</button>
    <!-- <button mat-menu-item routerLink="/usuarios/nuevo">Registrar</button> -->
   </mat-menu>
   <mat-menu #menuTransaccion="matMenu">
    <button mat-menu-item routerLink="/transaccion">Listar</button>
    <button mat-menu-item routerLink="/transaccion/nuevo">Registrar</button>
   </mat-menu>
<router-outlet></router-outlet>
