<div
  class="container"
  style="padding-top: 10px; padding-left: 10px; padding-right: 10px"
>
  <div class="title-container" style="text-align: center">
    <h1>Lista de Cuentas Bancarias</h1>
  </div>
  <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
    <!-- Columna Codigo -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let element">
        {{ element.cuentabancaria_id }}
      </td>
    </ng-container>

    <!-- Columna Titulo -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre_banco }}</td>
    </ng-container>

    <!-- Columna Descripcion -->
    <ng-container matColumnDef="numerocuenta">
      <th mat-header-cell *matHeaderCellDef>Numero de Cuenta</th>
      <td mat-cell *matCellDef="let element">{{ element.numero_cuenta }}</td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef>Tipo de Cuenta</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.tipo">Cuenta Corriente</ng-container>
        <ng-container *ngIf="!element.tipo">Cuenta Ahorros</ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef>Usuario</th>
      <td mat-cell *matCellDef="let element">
        {{ element.usuario_id.nombre }} {{ element.usuario_id.apellido }}
      </td>
    </ng-container>

    <!-- Columna Accion -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          color="primary"
          [routerLink]="['ediciones', element.cuentabancaria_id]"
        >
          <mat-icon>edit</mat-icon>
          Editar
        </button>
        <button
          mat-button
          color="warn"
          (click)="eliminar(element.cuentabancaria_id)"
        >
          <mat-icon>delete</mat-icon>
          Eliminar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="datasource.data.length"
    [pageSize]="10"
    [pageSizeOptions]="[3, 5, 10]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
