<div class="container">
  <div class="selectors-container">
    <<mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" [(ngModel)]="fechaInicio">
          <input matEndDate placeholder="End date" [(ngModel)]="fechaFin">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

    <button mat-button color="primary" (click)="updateChart()">Mostrar</button>
  </div>
</div>

<div class="title-container">
  <div class="title">
    <h1>Usuarios con saldo más alto por rango de fecha</h1>
  </div>

  <div style="text-align: center" class="chart-container">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [type]="barChartType">
    </canvas>
  </div>
</div>