<!-- max-monto-by-categoria.component.html -->
<div class="container">
  <div class="selectors-container">
    
    <mat-form-field appearance="fill">
      <mat-label>Mes</mat-label>
      <mat-select [value]="selectedMonth" (selectionChange)="onMonthChange($event)">
        <mat-option *ngFor="let month of months" [value]="month.value">
          {{ month.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Tipo de Transacción</mat-label>
      <mat-select [value]="selectedTransactionType" (selectionChange)="onTransactionTypeChange($event)">
        <mat-option [value]="true">Ingreso</mat-option>
        <mat-option [value]="false">Egreso</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>


<div class="title-container">
  <div class="title">
    <h1>Máximo Monto por Categoria de Transacciones</h1>
  </div>

  <div style="text-align: center" class="chart-container">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [type]="barChartType">
    </canvas>
  </div>
</div>
