<div class="container">
  <div class="title">Mis transacciones</div>

  <div class="card-container">
    <div *ngFor="let element of dataSource.data" class="card-item">
      <mat-card class="example-card">
        <mat-card-header>
          <div class="header-content">
            <div>
              <mat-card-title>{{ element.nombreTransaccion }}</mat-card-title>
              <mat-card-subtitle>{{ element.fechaTransaccion | date }}</mat-card-subtitle>
            </div>
            <div class="amount">
              <h1>{{ element.es_ingresoTransaccion ? '' : '-' }} S/{{ element.montoTransaccion }}</h1>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <mat-chip class="categoria" title="Categoria">{{ element.categoria_id.nombre }}</mat-chip>
        </mat-card-content>
        <mat-card-actions class="actions-right">
          <button mat-button color="primary" [routerLink]="['ediciones', element.idTransaccion]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button color="warn" (click)="openDialog(element.idTransaccion)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-button color="accent" (click)="openDialog(element.idTransaccion)">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <!-- Paginador -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
