
  
   .title {

    text-align: center;
  
    margin-bottom: 40px; /* Increase the margin-bottom to move the title lower */
  
    margin-top: 60px; 
  
    font-family: 'Poppins', sans-serif;
  
    font-weight: 600;
  
    font-size: 2em;
  
    color: #333;

  
   }


   .container{
    margin: 30px;
   }

   .example-section {
      display: flex;
      align-items: center;
      justify-content: right;
      margin-bottom: 20px;
      
    }
    
    .example-list-section {
      margin-right: 10px;
    }
    